{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Yujui Chen (National Tsing Hua University) Email:  <a href="e124874356@yahoo.com.tw">e124874356@yahoo.com.tw</a><br />
    Yun-yun Tsou (National Tsing Hua University)   Email:  <a href="tsou0320@gmail.com">tsou0320@gmail.com</a><br />
    (National Tsing Hua University)  Email:  <a href="e124874356@yahoo.com.tw">e124874356@yahoo.com.tw</a><br />
    (National Tsing Hua University)   Email:  <a href="e124874356@yahoo.com.tw">e124874356@yahoo.com.tw</a><br />
</address>



{% endblock %}
