<!DOCTYPE HTML>

<html>
<head>
    <title>Generic - Retrospect by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="static/content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

    <!-- Header -->
    <header id="header">
        <h1><a href="{{ url_for('home') }}">Course Searching Platform</a></h1>
        <a href="#nav">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href={{ url_for('home') }}>Home</a></li>
            <li><a href={{ url_for('about') }}>Search</a></li>
            <li><a href={{ url_for('student') }}>Search course</a></li>
            <li><a href={{ url_for('contact') }}>Contact</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="container">

            <header class="major special">
                <h2>Contact</h2>
                <p>Feel free to contact us!!</p>
            </header>
           
            <address>
                Yujui Chen (National Tsing Hua University) Email:  <a href="e124874356@yahoo.com.tw">e124874356@yahoo.com.tw</a><br />
                Yun-yun Tsou (National Tsing Hua University)   Email:  <a href="tsou0320@gmail.com">tsou0320@gmail.com</a><br />
                (National Tsing Hua University)  Email:  <a href="e124874356@yahoo.com.tw">e124874356@yahoo.com.tw</a><br />
                (National Tsing Hua University)   Email:  <a href="e124874356@yahoo.com.tw">e124874356@yahoo.com.tw</a><br />
            </address>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li>
                    <a href="#" class="icon fa-facebook">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-twitter">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-instagram">
                        <span class="label">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-linkedin">
                        <span class="label">LinkedIn</span>
                    </a>
                </li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled.</li>
                <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
                <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/skel.min.js"></script>
    <script src="/static/scripts/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/static/scripts/main.js"></script>

</body>
</html>