{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Yujui Chen (National Tsing Hua University)<br />
    Yun-yun Tsou (National Tsing Hua University)<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">e124874356@yahoo.com.tw</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
