<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Generic - Retrospect by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="static/content/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link rel="stylesheet" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="{{ url_for('home') }}">Course Searching Platform</a></h1>
			<a href="#nav">Menu</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">Search</a></li>
				<li><a href="{{ url_for('student') }}">Personal history</a></li>
				<li><a href="{{ url_for('graph') }}">Course roadmap</a></li>
				<li><a href="{{ url_for('discussion') }}">Discussion board</a></li>
				<li><a href="{{ url_for('contact') }}">Contact</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">

				<header class="major special">
					<h2>Search</h2>
					<p>Searching for advance Courses and Prerequisite Courses</p>
				</header>
				{% for node in nodes %}
                <div style="outline: 3px solid gray;text-align:center;">
    				<form name='form' id='form' method='POST' action='/graph'>
                        <p><font size="5" style="color:black"><b>{{node.name}}</b></font></p>
                        <input type="hidden" name="node" value="{{node.id}}">
    					<input type="submit" name="relation" value="prerequisite" />
                        <input type="submit" name="relation" value="advance" />
    				</form>
                </div>
				{% endfor %}


			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li>
						<a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a>
					</li>
					<li>
						<a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a>
					</li>
					<li>
						<a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a>
					</li>
					<li>
						<a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a>
					</li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled.</li>
					<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
					<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="/static/scripts/jquery.min.js"></script>
			<script src="/static/scripts/skel.min.js"></script>
			<script src="/static/scripts/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/scripts/main.js"></script>

	</body>
</html>