{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Course Searching Platform</h1>
    <p class="lead">You can easily use this platform to search for courses based on topics, lectures, schools, etc.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Basic search</h2>
        <p>
            You can easily use this function to search for courses you are interested in.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Advanced search</h2>
        <p>You can easily use this function to find out the relationship between classes, such as finding prerequisites courses, similar courses and relevant areas.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Development team</h2>
        <p>This project was developed by Yujui Chen, Yun-yun Tsou. This is a final project of Advanced Database in National Tsing Hua University.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
