{% extends "layout.html" %}
{% block content %}

<title>Searching </title>
<p>{{name_template}}</p>
<!-- search form 6 -->
<form class="form-wrapper-2 cf" name='form' id='form' method='POST' action='/search'>
    <select name="input_cat">
        <option value="cLanguage">語言</option>
         <option value="cAuthor">授課教師</option>
         <option value="label">課程分類</option>
         <option value="pre">需先修課程</option>
         <option value="cTitle">課程名稱</option>
         <option value="cProvider">課程提供者 (組織、學校)</option>
    </select>
    <input type="text" name = "input_text" id="input_id" value="" placeholder="Search here" required>
    <!-- <input type="text" name = "input_category" id="input_category" value="類別"> -->
    <input type="submit" value="Submit"/>
    <div id="alert" style="color: red"></div>
</form>




{% for user in users %}
<table style="width:100%">
    <tr>
        <td colspan="2"><font size="6"><b>{{user.cTitle}}</b></font></td>
        <td rowspan="6"><img src="{{user.cPhotoLink}}" height="135" width="180"></td>
    </tr>
    <tr>
        <td><b>Language</b></td>
        <td>{{user.cLanguage.replace('CH','Chinese').replace('EN','English')}}</td>
    </tr>
    <tr>
        <td style="vertical-align:top"><b>Description</b></td>
        <td>{{user.cDescription}}</td>
    </tr>
    <tr>
        <td><b>Author</b></td>
        <td>{{user.cAuthor.replace('[','').replace(']','')}}</td>
    </tr>
    <tr>
        <td><b>Label</b></td>
        <td>{{user.label.replace('[','').replace(']','')}}</td>
    </tr>
    <tr>
        <td><b>Prerequisite</b></td>
        <td>{{user.pre}}</td>
    </tr>
    <tr>
        <td><b>Course Link</b></td>
        <td><a href={{user.cDirectLink}} target="_blank" >{{user.cDirectLink}}</a></td>
    </tr>
</table>
<style>
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}  
</style>
<hr class="style-one">
{% endfor %}

{% endblock %}
